.a-skeleton
  position fixed
  left 0
  top 0
  width 100vw
  min-height 100vh
  background-color #ffffff
  z-index 9999
  overflow hidden
  &.a-skeleton--active
    .a-skeleton-header, .nav-item-image, .nav-item-text, .a-skeleton-banner
      background -webkit-gradient(linear, left top, right top, color-stop(25%, hsla(0, 0%, 74.5%, 0.2)), color-stop(37%, hsla(0, 0%, 50.6%, 0.24)), color-stop(63%, hsla(0, 0%, 74.5%, 0.2)))
      background linear-gradient(90deg, hsla(0, 0%, 74.5%, 0.2) 25%, hsla(0, 0%, 50.6%, 0.24) 37%, hsla(0, 0%, 74.5%, 0.2) 63%)
      background-size 400% 100%
      -webkit-animation ant-skeleton-loading 1.4s ease infinite
      animation ant-skeleton-loading 1.4s ease infinite
  &-header
    width 7.5rem
    height 3.08rem
    background #F1F1F1
    border-radius 0px 0px 0.26rem 0.26rem
  &-nav
    display flex
    align-items center
    margin 0.26rem 0.32rem 0
    .nav-item
      display flex
      flex-direction column
      align-items center
      flex 1
      &-image
        width 0.8rem
        height 0.8rem
        background #F1F1F1
        border-radius 50%
      &-text
        margin-top 0.2rem
        width 0.92rem
        height 0.23rem
        background #F1F1F1
  &-banner
    width 7.1rem
    background #F1F1F1
    border-radius 0.12rem
    margin 0.18rem auto 0
    height 2.4rem
    &.large
      height 3.49rem
@keyframes ant-skeleton-loading
  0%
    background-position 100% 50%
  to
    background-position 0 50%
@keyframes ant-skeleton-loading
  0%
    background-position 100% 50%
  to
    background-position 0 50%
