@media (max-width 480px)
  .ant-table
    width 100%
    overflow-x auto
  .ant-table-tbody>tr>td, .ant-table-tbody>tr>th, .ant-table-thead>tr>td, .ant-table-thead>tr>th
    white-space pre
  .ant-table-tbody>tr>td>span, .ant-table-tbody>tr>th>span, .ant-table-thead>tr>td>span, .ant-table-thead>tr>th>span
    display block
@media (-ms-high-contrast none), screen and (-ms-high-contrast active)
  body .ant-design-pro>.ant-layout
    min-height 100vh
canvas
  display block
body
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
ol, ul
  list-style none
#root, body, html, .app, .ant-layout
  height 100%
.colorWeak
  -webkit-filter invert(80%)
  filter invert(80%)
.ant-layout
  min-height 100vh
