// 主题色
$color-brand = #F31D30
// 背景灰
$color-background = #F4F3F1
// 图片替换的颜色
$color-image-background = #e6e6e6
// 线条色
$color-line = #F2F2F2
// 字体色，已设置在全局
$color-font-base = #252525
// 字体色浅一点
$color-font-light = #686868
// 字体色再浅一点
$color-font-light-x = #989898
// 高亮
$color-highlight = #FF8400
// 高亮衬托
$color-highlight-sub = rgba(255, 132, 0, 0.1)
// 灰色，未选中，disable
$color-dim = #cccccc
// 字体大大一点
$font-size-large-xx = 40rpx
// 字体大一点
$font-size-large-x = 36rpx
// 字体大一点
$font-size-large = 32rpx
// 基本字体，已设置在全局
$font-size-base = 28rpx
// 字体小一点
$font-size-small = 24rpx
// 字体再小一点
$font-size-small-x = 20rpx
/* 间距 */
$spacing-sm-x = 10rpx
$spacing-sm = 20rpx
$spacing-base = 30rpx
$spacing-lg = 40rpx
$spacing-lg-x = 50rpx
// 遮罩颜色
$bg-color-mask = rgba(0, 0, 0, 0.4)
