.design
  min-height 100vh
  font-size 24px
  .design-empty
    display flex
    flex-direction column
    width 100%
    align-items center
    &-image
      width 4rem
      height 2.74rem
      margin-top 25vh
      position relative
      &-box
        width 100%
        height 100%
      &-text
        position absolute
        left 2.15rem
        top 0.1rem
        color #ffffff
        font-size 0.28rem
    &-title
      color #252525
      font-size 0.34rem
      margin-top 0.54rem
      font-weight 400
    &-tip
      color #686868
      font-size 0.28rem
      margin-top 0.12rem
    &-back
      padding 0.24rem 0.62rem
      font-size 0.28rem
      color #ffffff
      border-radius 0.36rem
      background-color #ff5f37
      margin-top 0.79rem
      line-height 1
      display flex
      align-items center
      justify-content center
      position relative
  .design-share
    position fixed
    right 0.2rem
    bottom 2.36rem
    z-index 1000
    &-image
      width 1.14rem
      height 1rem
